In [1]:
""" Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType """

' Built-in Data Types\nIn programming, data type is an important concept.\n\nVariables can store data of different types, and different types can do different things.\n\nPython has the following data types built-in by default, in these categories:\n\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\nNone Type:\tNoneType '

In [2]:
# Checking the Data Type

x = 5
print(type(x))

<class 'int'>

In [3]:
type(x)

int

In [4]:
# 4 MAJOR Data Types:

# Lists 

x = ["Apple","Banana"]

In [5]:
type(x)

list

In [6]:
# Tuple

y = ("Apple", "Banana")

In [7]:
type(y)

tuple

In [8]:
# Dictionary

z = {"name" : "Yash", "Age" : 22}

In [9]:
type(z)
print(z)

{'name': 'Yash', 'Age': 22}

In [10]:
type(z)

dict

In [11]:
mySet = {"Yash",22}

In [12]:
mySet

{22, 'Yash'}

In [13]:
type(mySet)

set

In [14]:
print("Numbers In Python")

Numbers In Python

In [15]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [17]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [18]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [19]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [20]:
# String Slicing

Strings = "Yash B Joshi"
print(Strings[0:4])

Yash

In [21]:
print(Strings[:4])

Yash

In [22]:
print(Strings[4:])

 B Joshi

In [26]:
a = "   Hello World    "
print(a)
print(a.strip())

   Hello World
Hello World

In [27]:
str1 = "Hello"
str2 = "World"

In [28]:
strs = str1+str2

In [29]:
print(strs)

HelloWorld

In [30]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [31]:
# Strings and int can be combined using .format operator

In [32]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [33]:
# python escape Charectors
# Code	Result	Try it
# \'	Single Quote	
# \\	Backslash	
# \n	New Line	
# \r	Carriage Return	
# \t	Tab	
# \b	Backspace	
# \f	Form Feed	
# \ooo	Octal value	
# \xhh	Hex value ###